<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('static/header', { isLoggedIn, role }) %>
  <main>
    <section class="login-form">
      <h1>Connexion</h1>
      <form action="/login" method="POST">
        <% if (message) { %>
          <p class="message"><%= message %></p>
        <% } %>

        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
      </form>
    </section>
  </main>
  <%- include('static/footer'); %>
  <script src="/js/script.js"></script>
</body>
</html>
